@page
@model JurayMailService.Web.Areas.User.Pages.Mails.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">SUBMITTED MAILS</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="table-responsive">
            <table id="" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Email
                        </th>
                        <th>Submitted</th>
                        <th>Sent</th>
                        <th>Group</th>
                        <th>Status</th>
                        <th>Retries</th>

                    </tr>
                </thead>

                @{
                    //int sn = 0;
                    int sn = (Model.PageNumber - 1) * Model.PageSize;

                }
                <tbody>
                    @foreach (var item in Model.EmailSendingStatus)
                    {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                <a asp-page="./Info" asp-route-id="@item.Id" asp-route-mxs="@item.MessageId">
                                    @Html.DisplayFor(modelItem => item.EmailList.Email)

                                </a>
                            </td>

                            <td>
                                @item.SubmittedDate.ToString("dd/MM/yyyy hh:mm tt")
                            </td>
                            <td>
                                @if (item.SentDate != null)
                                {
                                    @item.SentDate.Value 
                                    @*<span>@item.MessageId</span>*@
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Group)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SendingStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Retries)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            @if (Model.TotalPages > 1)
            {
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" asp-page="./Index" asp-route-pagenumber="@i">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>
